<a href="https://colab.research.google.com/github/sera0911/asia-ai-study/blob/main/python_day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

day2 정리  
실수형 데이터를 처리하려면  (ex 변수 = 3.14)       
float 클래스로부터 type메타클래스가 객체를 생성, 메모리 할당, 할당된 메모리에 3.14를 저장(객체는 할당된 메모리에 주소값을 참조하게 됨)    
실수형 데이터 표현 형식 IEEE     
EX0 6억3400만 6.3e18   
논리 데이터를 자료형 클래스 - bool()   
bool클래스로부터 True, False 상수 인스턴스(객체)를 생성    


정수, 실수, 문자열등의 아무 타입을 아님을 의미하는 상수 인스턴스(객체)는 None    
파이썬에서 기능을 정의할 때 def 함수이름(): ~로 정의되는 함수에서 return으로 반환되는 값이 없는 경우 None을 반환 생성    


bool타입과 정수타입 호환됨   
bool('') F    
bool(' ') T    
bool(None) F    
bool([]) F #[]는 요소가 하나도 없는 리스트    
bool(()) F  #empty tuple    
bool({}) F #[] empty dict    


문자열 데이터 str클래스로부터 인스턴스(객체) 생성하고       
내장함수 len() - 문자열, 리스트,튜플, 딕셔너리의 경우-데이타 요소 개수 반환 (네 가지 다 집합형)   
문자열 인스턴스.replace(),count(), find(), rfind(), strip(), split(), join(), isdigit(), ...등등     
 

복소수 데이터 처리 기능 - complex, real, imag, j,...    


[연산자]   
단항연산자(연산자에 대해 피연산자가 한개)      
이항연산자(연산자에 대해 피연산자가 두개)   
삼항연산자(연산자에 대해 피연산자가 세개)   

산술연산자: +, -, *, /  (몫을 실수로 반환), %, //(몫을 정수로 반환)    
비교연산자 : 결과는 항상 bool(논리)값, ==,!=, >,  >=, <, <=   
비트연산자: &, |, ^, <<, >>
a = 5 는 메모리에 32bit로 저장할 경우 000000~~101(맨앞은 사인비트 양수0 음수1)    
b = 3  000000~~011    
000000~~101 & 000000~~011   = 0000~~0001    
000000~~101 | 000000~~011   = 0000~~0111    
000000~~101 ^ 000000~~011   = 0000~~0110    
opd1 << op2 (left shift) 는 opd1의 bit를 왼쪽으로 op2 만큰 이동   
결과는 opd1*2**opd2   
a<<5 == a * 2 ** 5    
256>>5 == 256/2**5    

할당연산자: (축약 연산자) +=, -=, /=,...     
논리연산자: 조건 연산자 조건 연산자 조건... 형태로 사용함     
            and, or, not    


조건에 따라서 데이터 처리를 다르게 해야 할 경우    
단일if문 조건이 참이면 아래 명령실행 참이 아닐경우 실행안함   
if 조건 :         
  명령1    
  명령2   

if 조건 :   
  명령1   
  명령2   
else:    
  명령3    
  명령4    

여러 조건일 때는 다중 조건문 또는 nested 조건문을 활용     
if 조건1:    
  명령1    
  명령2    
elif 조건2:   
  명령3   
  명령4   
elif 조건3:    
  명령5   
  명령6      
....
else:  (else는 선택적사용    
 명령n-1    
 명령n    

nested if는 조건 안에 조건이 들어가는 것   
if 조건1 :    
  if 조건2 :    
    명령1    
    명령2    
  else :     
    명령3    
    명령4    
else:  
 명령n-1    
 명령n   


for반복문 - 반복 횟수를 알고 있을 때    
while반복문 - 반복 수행 조건을 알고 있을 때(선 조건체크 후 수행)    
do ~ while반복문 - 선 수행, 후 조건 체크를 수행하고 반복을 결정     

for 초기화식 : 조건식 ; 증감식 {}  
for i = 0 ; 1:10, i ++ {} (for문 안에서 사용할 변수를 초기화함) 타언어는 이렇게 사용   

for 변수 in range객체, 문자열객체, 집합 자료형:   
  명령1   
  명령2    

range(start, end, step) - start를 생략하면 0부터 시작, step을 생략하면 1씩 증가, 안에 인수는 무조건 들어가야 함   
숫자가 안들어간다면   
for 변수 in len(문자열객체 또는 집합 자료형 객체):   
  명령   
이렇게 코드수행   


조건문 내부에 조건문 사용 가능   
조건문 내부에 반복문 사용 가능   
반복문 내부에 조건문 사용 가능   
반복문 내부에 반복문 사용 가능

In [2]:
for i in 'abcdefg':
  print(i, end=' ')

a b c d e f g

In [5]:
for i in ['americano', 'latte', 'frappucino']:
  print(i)

americano
latte
frappucino

In [7]:
i = 1
while i < 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9

In [29]:
#lab1 while을 이용하여 1~10까지의 누적합 출력
i = 1
sum = 0
while i <= 10:
  sum = sum + i
  i = i + 1
print(sum)

-55

In [102]:
#lab2 while문을 이용해서 1~10까지의 홀수를 역순으로 출력
i = 10
while i >0:
  if i % 2 ==1:
    print(i)
  i -= 1

9
7
5
3
1

In [24]:
for i in range(10):
  if i ==5: break
  print(i)
print('end fo program')

0
1
2
3
4
end fo program

In [25]:
for i in range(10):
  if i ==5: continue
  print(i)
print('end fo program')

0
1
2
3
4
6
7
8
9
end fo program

In [27]:
for i in range(10):
  print(i)
else :
  print('end fo program')

0
1
2
3
4
5
6
7
8
9
end fo program

In [28]:
for i in range(10):
  if i ==5: 
    continue
  print(i)
else: 
  print('end fo program')

0
1
2
3
4
6
7
8
9
end fo program

In [39]:
#lab 2중 반복문을 이용해서 2차원 구조로 출력, 데이터 처리 가능
for row in range(5): # 행 반복   
  for col in range(5):  #열 반복
    print('*', end=' ')
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [76]:
#lab3
for row in range(5): # 행 반복   
  for col in range(row+1):  #열 반복
    print('*', end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [49]:
#lab4
i = 5
for row in range(5): # 행 반복   
  for col in range(1):  #열 반복
    print('*'*i, end=' ')
    i -= 1
  print()

*****
****
***
**
*

In [69]:
#lab4
for row in range(5, 0, -1): # 행 반복   
  for col in range(row):  #열 반복
    print('*', end=' ')
  print()

* * * * *
* * * *
* * *
* *
*

In [71]:
#lab5
for row in range(5):
    for lcol in range(row):
        print("  ", end="")
    for rcol in range(5-row):
        print("* ", end="")
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [79]:
#lab5
for row in range(5):
    for lcol in range(row):
        print("  ", end="")
    for rcol in range(5-row):
        print("* ", end="")
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [105]:
#lab6
for row in range(5):
    for col in range(5, row, -1):
        print(" ", end=" ")
    for col in range(row+1):
        print("*", end=' ')
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [111]:
for row in range(3):
  for col in range(3):
    print('row=', row, 'col=', col)
  print()

row= 0 col= 0
row= 0 col= 1
row= 0 col= 2

row= 1 col= 0
row= 1 col= 1
row= 1 col= 2

row= 2 col= 0
row= 2 col= 1
row= 2 col= 2

In [112]:
for row in range(3):
  for col in range(3):
    if(col==1) : continue
    print('row=', row, 'col=', col)
  print()

row= 0 col= 0
row= 0 col= 2

row= 1 col= 0
row= 1 col= 2

row= 2 col= 0
row= 2 col= 2

In [113]:
for row in range(3):
  for col in range(3):
    if(col==1) : break
    print('row=', row, 'col=', col)
  print()

row= 0 col= 0

row= 1 col= 0

row= 2 col= 0

In [130]:
pro = int(input('구구단 몇 단을 계산할까?'))
print('구구단', pro, '을 계산한다')
i = 1

for gugu in range(10):
  i += 1
  print(pro,' x ', i, '=', pro * i)

구구단 몇 단을 계산할까?6
구구단 6 을 계산한다
6  x  2 = 12
6  x  3 = 18
6  x  4 = 24
6  x  5 = 30
6  x  6 = 36
6  x  7 = 42
6  x  8 = 48
6  x  9 = 54
6  x  10 = 60
6  x  11 = 66

In [131]:
for row in range(1, 10):
    for col in range(2, 10):
        print("%d x %d = %d" % (col, row, row*col), end="\t")
    print()

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

standalone application - 서버 없이 홀로 실행되는 프로그램(어플리케이션)   
server/client application (CS) - server는 24시간 무정지 상태로 서비스를 수행해야 하므로 서비스는 대기 상태를 유지해야 한다    
무한루프를 이용tandalone application - 서버 없이 홀로 실행되는 프로그램(어플리케이션)   
server/client application (CS) - server는 24시간 무정지 상태로 서비스를 수행해야 하므로 서비스는 대기 상태를 유지해야 한다    
tandalone application - 서버 없이 홀로 실행되는 프로그램(어플리케이션)   
server/client application (CS) - server는 24시간 무정지 상태로 서비스를 수행해야 하므로 서비스는 대기 상태를 유지해야 한다    
무한루프를 이용해야한다. (exit 조건은 반드시 포함해야 한다.)    
while True:     #무한루프
  pass   


while 1: 
  pass

In [153]:
a = 'i love you'
for i in range(len(a)-1,-1,-1):
    print(a[i], end="")

uoy evol i

In [161]:
a = int(input())
b = ''
while a:
 b += str(a % 2)
 a //=2
print(b[::-1])

16
10000

In [178]:
#lab9 : up down게임
import random
computer = random.randint(1, 100)
#사용자로부터 입력받은 값을 비교 후 'up' 'down' 출력 수를 맞출때까지 반복 게임 수행
#기회는 5번, 5번 내에 맞추면 'you winner', 못맞추면 'i am winner, you fail'출력

i = 5
while i>= 1:
  num = int(input())
  if num > computer:
    print('up')
    i -=1
  elif num < computer:
    print('down')
    i -=1
  else:
    print('you winner')
    break
print('i am winner, you fail')

80
up
50
down
70
up
65
up
60
up
i am winner, you fail

import random     
print(random.randint(정수1, 정수2))    
랜덤으로 정수1~정수2안에 숫자를 출력해줌

In [169]:
import random
a=random.randint(1,100)

i=5
while i >=1:
    num = int(input("숫자를 맞춰 보세요.(1~100) :"))
    if num > a:
        i-=1
        print('Down. (%d회 남았습니다.)' %i) 
    elif num < a:
        i-=1
        print('Up. (%d회 남았습니다.)' %i)
    else:
        print("You Winner! 입력한 숫자는 %d입니다" %num)
        break
print("I am Winner, You Fail 정답은 %d입니다." %a)
1

숫자를 맞춰 보세요.(1~100) :50
Up. (4회 남았습니다.)
숫자를 맞춰 보세요.(1~100) :70
Down. (3회 남았습니다.)
숫자를 맞춰 보세요.(1~100) :60
Down. (2회 남았습니다.)
숫자를 맞춰 보세요.(1~100) :55
Up. (1회 남았습니다.)
숫자를 맞춰 보세요.(1~100) :57
Up. (0회 남았습니다.)
I am Winner, You Fail 정답은 58입니다.

1

In [171]:
import random
print("숫자를 맞혀 보세요. 기회는 5번입니다. (1 ~ 100)")
answer = random.randint(1, 100)
num = 0
count = 0
while num != answer and count != 5:
    num = int(input())
    if(num > answer):
        print("숫자가 너무 큽니다.")
    elif(num < answer):
        print("숫자가 너무 작습니다.")
    count += 1
if count == 5:
    print("I am Winner, You Fail. answer is %d" % answer)
elif num == answer:
    print("You Winner")

숫자를 맞혀 보세요. 기회는 5번입니다. (1 ~ 100)
50
숫자가 너무 큽니다.
30
숫자가 너무 큽니다.
10
숫자가 너무 작습니다.
20
You Winner

리스트의 개념   
• 리스트(list): 하나의 변수에 여러 값을 할당하는 자료형이다.   
• 파이썬에서는 리스트처럼 여러 데이터를 하나의 변수에 할당하는 기법을 시퀀스 자료형이라고 한다 시퀀스 자료형
은 여러 자료를 순서대로 넣는다는 뜻이다.   
• 리스트는 하나의 자료형으로만 저장하지 않고, 정수형이나 실수형 같은 다양한 자료형을 포함할 수 있다.    


인덱싱과 슬라이싱 : 슬라이싱(slicing)    
• 파이썬의 리스트에서 ‘마지막 인덱스 - 1’까지만 출력된다. 만약 한 번 이상 리스트 변수를 사용하면 마지막 인덱스가
다음 리스트의 시작 인덱스가 되어 코드를 작성할 때 조금 더 쉽게 이해할 수 있다는 장점이 있다.


인덱싱과 슬라이싱 : 리버스 인덱스(reverse index)    
• 리스트에는 인덱스를 마지막 값부터 시작하는 리버스 인덱스 기능이 있다    
• 일반적으로 시작 인덱스가 비어 있으면 처음부터, 마지막 인덱스가 비어 있으면 마지막까지라는 의미로 사용된다.    
 즉,
cities[-8:]은 인덱스가 -8인 ‘서울’부터 ‘수원’까지 출력하라는 뜻이다.      


인덱싱과 슬라이싱 : 인덱스 범위를 넘어가는 슬라이싱    
• 인덱스를 따로 넣지 않고 print(cities[:])과 같이 콜론(:)을 넣으면 cities 변수의 모든 값을 다 반환한다.    
• 슬라이싱에서는 인덱스를 넘어서거나 입력하지 않더라도 자동으로 시작 인덱스와 마지막 인덱스로 지정된다    


인덱싱과 슬라이싱 : 증가값(step)    
• 슬라이싱에서는 시작 인덱스와 마지막 인덱스 외에 마지막 자리에 증가값을 넣을 수 있다.    
• 증가값은 한 번에 건너뛰는 값의 개수이다

리스트의 연산   
• 덧셈 연산 : 덧셈 연산을 하더라도 따로 어딘가 변수에 할당해 주지 않으면 기존 변수는 변화가 없다   
리스트 + 리스트로 연산   


리스트의 연산   
• 곱셈 연산 : 리스트의 곱셈 연산은 기준 리스트에 n을 곱했을 때, 같은 리스트를 n배만큼 늘려 준다.   
• in 연산 : 포함 여부를 확인하는 연산으로, 하나의 값이 해당 리스트에 들어 있는지 확인할 수 있다.

list 자료형 - 데이터 요소 변경 가능    
tuple 자료형 - 읽기 전용 list이므로, 데이터 요소를 변경 불가능   
그래서 list가 변경은 가능하지만 변경을 할수록 내부에 변화가 많아 시간이 오래걸림, 시간은 tuple이 빠름ist 자료형 - 데이터 요소 변경 가능    
tuple 자료형 - 읽기 전용 list이므로, 데이터 요소를 변경 불가능   
ist 자료형 - 데이터 요소 변경 가능    
tuple 자료형 - 읽기 전용 list이므로, 데이터 요소를 변경 불가능   
그래서 list가 변경은 가능하지만 변경을 할수록 내부에 변화가 많아 시간이 오래걸림, 시간은 tuple이 빠름

리스트 추가 및 삭제   
• append( ) 함수 : 새로운 값을 기존 리스트의 맨 끝에 추가   
• extend( ) 함수 : 새로운 리스트를 기존 리스트에 추가     
• insert( ) 함수 : 기존 리스트의 i번째 인덱스에 새로운 값을 추가, i번째 인덱스를 기준으로 뒤쪽의 인덱스가 하나씩 밀림. ex)color.insert(0, 'green') = 0번째 인덱스에 green을 넣는다스트 추가 및 삭제   
• append( ) 함수 : 새로운 값을 기존 리스트의 맨 끝에 추가   
• extend( ) 함수 : 새로운 리스트를 기존 리스트에 추가     
스트 추가 및 삭제   
• append( ) 함수 : 새로운 값을 기존 리스트의 맨 끝에 추가   
• extend( ) 함수 : 새로운 리스트를 기존 리스트에 추가     
• insert( ) 함수 : 기존 리스트의 i번째 인덱스에 새로운 값을 추가, i번째 인덱스를 기준으로 뒤쪽의 인덱스가 하나씩 밀림. ex)color.insert(0, 'green') = 0번째 인덱스에 green을 넣는다   
• remove( ) 함수 : 리스트 내의 특정 값을 삭제.  
• 인덱스의 재할당 : 인덱스에 새로운 값을 할당한다.   
• 인덱스 삭제 : del 함수를 사용한다.   
[ 리스트 추가 및 삭제 함수 ]   
index()위치값, sort() 오름차순 정렬, pop() 맨 마지막요소 출력, reverse() 역순으로 출력, count()값의 개수, clear(), len(), copy() 복제, sorted()

In [179]:
#list에 없는 데이터 요소를 remove()로 삭제 가능한지
color = ['red', 'green']
color.remove('blue')

ValueError: ignored

value Error가 뜸

In [182]:
#list에 'blue' 데이터 저장되어 있는데, 중복 저장가능? (append, insert)
color = ['red', 'green']
color.append('blue')
color.append('blue')
color   #가능

['red', 'green', 'blue', 'blue']

In [185]:
#list에 두 개의 blue가 있다면 remove시 다 지워지는지 하나만 지워지는지
color 
color.remove('blue')
color   #처음것만 지워짐짐

['red', 'green', 'blue']

패킹과 언패킹   
• 패킹(packing) : 한 변수에 여러 개의 데이터를 할당하는 것.   
• 언패킹(unpacking) : 한 변수의 데이터를 각각의 변수로 반환하는 것.   
언팩킹 할 때 각각 데이터마다 데이터 개수와 같게 변수의 개수를 넣어야 함

In [188]:
s = [1, 2, 3]   
a, b, c = s     
print(s, a, b, c)

[1, 2, 3] 1 2 3

이차원 리스트    
• 이차원 리스트를 하나의 변수로 표현하기 위해서는 다음과 같이 코드를 작성하면 된다    
• 이차원 리스트에 인덱싱하여 값에 접근하기 위해서는 다음 코드와 같이 대괄호 2개를 사용한다.

리스트의 메모리 저장   
• 파이썬은 리스트를 저장할 때 값 자체가 아니라, 값이 위치한 메모리 주소(reference)를 저장한다.   
• ==은 값을 비교하는 연산이고, is는 메모리의 주소를 비교하는 연산이다.    
• 파이썬은 인터프리터가 구동될 때, -5부터 256까지의 정수값을 특정 메모리 주소에 저장한다. 그리고 해당 숫자를
할당하려고 하면 해당 변수는 그 숫자가 가진 메모리 주소로 연결한다.    
• 리스트는 기본적으로 값을 연속으로 저장하는 것이 아니라, 값이 있는 주소를 저장하는 방식이다.   
2차원 리스트 구조는 1차원리스트 주소에서 2차원리스트를 그 구조에 있는 1차원_000xxx주소에 넣는 것   
• 다양한 형태의 변수가 하나의 리스트에 들어갈 수 있다.   
• 기존 변수들과 함께 리스트 안에 다른 리스트를 넣을 수 있다. (중첩 리스트)   
• 파이썬의 리스트가 값이 아닌 메모리의 주소를 저장해 메모리에 새로운 값을 할당하는 데 있어 매우 높은 자유도를
보장하므로 중첩 리스트가 가능하다.

얕은 복사 = 주소가 할당되어 동일한 객체를 참조   
            원본객체가 변경되면 얕은 복사를 통해 생성된 객체도 변경된 데이터를 참조   
깊은 복사 = 새로운 주소에 동일한 데이터요소를 가지는 객체가 생성되므로   
            원본 객체가 변경되어도 깊은 복사를 통해 생성된 객체에 영향을 주지 않음

In [204]:
lst = [1, 2, 3, 4]

lc = lst
print(lc == lst)
print(lc is lst)  # t 면 얕은 복사 = t
print(id(lc), id(lst))

True
True
140221835422368 140221835422368

In [196]:
lst = [1, 2, 3, 4]

lc = lst.copy()
print(lc == lst)
print(lc is lst)  # F 면 깊은 복사 = f
print(id(lc), id(lst))

lc.reverse()
print(lc)
print(lst)


ld = list(lst)
print(ld == lst)
print(ld is lst)  #f 면 깊은 복사    = F
print(id(ld), id(lst))
ld.reverse()
print(ld)
print(lst)

True
False
140221835839200 140221835686688
[4, 3, 2, 1]
[1, 2, 3, 4]
True
False
140221835567344 140221835686688
[4, 3, 2, 1]
[1, 2, 3, 4]

주소만 복사시 얕은 복사   lc = lst    
.copy() 깊은복사   
list() 깊은복사

In [197]:
import copy
lst = [1, 2, 3, 4]
ll = [ lst, lst ]
print( ll )
lc = copy.deepcopy(ll)
print( lc )
lc[0][0] = 999
print( id( lst ), id( ll[0] ),
id( ll[1] ) )
print(lc)

[[1, 2, 3, 4], [1, 2, 3, 4]]
[[1, 2, 3, 4], [1, 2, 3, 4]]
140221836181168 140221836181168 140221836181168
[[999, 2, 3, 4], [999, 2, 3, 4]]

In [203]:
kor_score = [49, 80, 20, 100, 80]
math_score = [43, 60, 85, 30, 90]
eng_score = [49, 82, 48, 50, 100]
mid_score = [kor_score, math_score, eng_score]  #2차원리스트


avg_score = []
for col in range(5):
  total = 0           #한 학생의 평균을 내고 다시 0으로 만들어 누적을 지우고 새로 더해 평균을 냄
  for row in range(3):
    total += mid_score[row][col]
  avg_score.append(total/3)

print(avg_score)

[47.0, 74.0, 51.0, 60.0, 90.0]

코드의 오류를 처리하는 방법    
버그와 디버그   
• 버그(bug) : 프로그래밍에서의 오류   
• 디버그(debug) : 오류를 수정하는 과정   
• 디버깅(debugging) : 코드에서 오류를 만났을 때, 프로그램의 잘못을 찾아내고 고치는 것   

오류의 종류와 해결 방법 : 문법적 오류   
• 문법적 오류는 코딩했을 때, 인터프리터가 해석을 못 해 코드 자체를 실행시키지 못하는 오류이다.    문법적 오류는 비
교적 쉬운 유형의 오류이며, 대표적으로 들여쓰기 오류와 오탈자로 인한 오류가 있다.   
 

오류의 종류와 해결 방법 : 논리적 오류   
• 프로그램을 작성하다 보면 코드를 제대로 작성했다고 생각했음에도, 원하는 결과가 나오지 않는 경우가 종종 있다.   
• 논리적 오류를 해결하는 방법은 다양한데, 당장 쉽게 사용할 수 있는 방법은 확인이 필요한 변수들에 print( ) 함수를
사용하여 값을 확인하는 것이다.

In [211]:
def addition(x, y):
  return x + y
#def multiplication(x, y):
#  return x * y
def divided_by_2(x):
  return x/ 2

"""
if __name__ == '__main__':   #해당 파일을 파이썬 셀에서 불러온 import 때 함수 안에 들어있지 않은 코드들이 작동되지 않게 하기 위해서
  print(addition(10, 5))
  print(multiplication(10, 5))
  print(divided_by_2(50))  
  """

def main():
  base_line = float(input('밑변의 길이는?'))
  upper_edge = float(input('윗변의 길이는?'))
  height = float(input('높이는?'))

  print('넓이는:',divided_by_2(addition(base_line, upper_edge)*height))

main()

밑변의 길이는?15
윗변의 길이는?7
높이는?9
넓이는: 99.0

함수가 잘 작동하는지 확인하는 방법 : 파일에서 체크할 수 있도록 if _name_ == "_main_":을 써 주는 구조로, if 문 안
에 테스트할 코드를 작성하기    
if __name__ == '__main__' 넣는 이유는 해당 파일을 파이썬 셀에서 불러온 import 때 함수 안에 들어있지 않은 코드들이 작동되지 않게 하기 위해서   
이 코드는 최상위에 있을 때만 실행되지 다른 모듈 안에 있을 땐 실행되지 않음

사다리꼴 공식  A = {(윗변+아랫변)/2} *높이   
키워드 as = 애칭을 뜻함  a as b  는 a를 b 라고 칭한다는 뜻

자료구조의 개념   
• 자료구조(data structure) : 특징이 있는 정보를 메모리에 효율적으로 저장 및 반환하는 방법으로, 데이터를 관리하는
방식이다.    
특히 대용량일수록 메모리에 빨리 저장하고 빠르게 검색하여, 메모리를 효율적으로 사용하고 실행 시간을 줄
일 수 있게 해 준다.    

파이썬에서의 자료구조    
• 스택(stack) 나중에 들어온 값을 먼저 나갈 수 있게 last in first out (후입선출)     
스택에서 데이터를 저장하는 것을 푸시(push),데이터를 추출하는 것을 팝(pop)이라고 한다.    
리스트라는 저장 공간을 만든 후, append( ) 함수로 데이터를 저장(push)하고 추출(pop)한다.      
• 큐(queue) 먼저 들어온 값을 먼저 나갈 수 있게 first in first out (선입선출)  
• 튜플(tuple) 리스트와 같지만, 데이터의 변경은 허용x    
• 세트(set) 데이터의 중복을 허용x, 수학의 집합 연산을 지원, 순서는 보장되지 않음    
• 딕셔너리(dictionary) 전화번호부와 같이 키(key)와 값(value)  형태의데이터를 저장하는 자료구조, 여기서 키는 다른 데이터와 중복을 허용x    
• collections 모듈  위에 열거된 여러 자료구조를 효율적으로 사용할 수 있도록 지원하는 파이썬 내장모듈듈

파이썬에서의 자료구조    
• 스택(stack) 나중에 들어온 값을 먼저 나갈 수 있게 last in first out (후입선출)      
스택에서 데이터를 저장하는 것을 푸시(push),데이터를 추출하는 것을 팝(pop)이라고 한다.    
리스트라는 저장 공간을 만든 후, append( ) 함수로 데이터를 저장(push)하고 추출(pop)한다.

In [206]:
word = input('input a word: ')
lst = []
for s in word:
  lst.append(s)
print(lst)

for s in lst:
  print(lst.pop(), end='')

input a word: python
['p', 'y', 't', 'h', 'o', 'n']
noh

큐    
• 큐(queue) : 먼저 들어간 데이터가 먼저 나오는 ‘Fist in First Out(FIFO)’의 메모리 구조를 가지는 저장 체계이다.    
• 파이썬에서 큐를 구현하는 것은 pop( ) 함수를 사용할 때 인덱스가 0번째인 값을 쓴다는 의미로 pop(0)을 사용하면 된다.      
• pop( ) 함수가 리스트의 마지막 값을 가져온다고 하면, pop(0)은 맨 처음 값을 가져온다는 뜻이다.

In [212]:
a = [1, 2, 3, 4, 5]
a.append(10)  #맨 뒤에 추가
a.append(20)
a.pop(0)  #1
a.pop(0)  #2   앞에서부터 꺼내짐

2

튜플    
• 튜플(tuple)은 리스트와 같은 개념이지만, 데이터를 변경할 수 없는 자료구조이다   
• 튜플(tuple)은 리스트와 유사하나, 읽기 전용 임   
• 읽기 전용인 만큼 제공되는 함수도 리스트에 비해 적지만, 속도가 빠름   
• 튜플에서 제공되는 메소드 : count, index (이 두가지만 사용가능)   
• 하나 이상의 요소가 있는 튜플을 만들기 위해서는 각 요소 뒤에 ,를 붙인다 ()이게 없어도 , 이것만 있어도 가능하긴 함   
• 튜플(tuple)은 '('과 ')'으로 둘러싼다.   
• 튜플은 더 적은 공간을 사용   
• 딕셔너리 키로 사용할 수 있다    
• 네임드 튜플은 객체의 단순한 대안이 될 수 있다 =이름을 가지고 있는 튜플    
• 함수의 인자들은 튜플로 전달된다. (함수 인자가 변경을 못하도록 튜플로 전달하는 것)   
• 위경도 좌표나 RGB 색상처럼 작은 규모의 자료 구조를 구성하기에 적합   
• 리스트는 동일한 자료형으로 이루어진 항목을 순차적으로 추출하는 용도로 사용되며, 튜플을 서로 다른 종류의 데이터형의 항목을 변
수에 바로 풀어 쓰는 unpacking 혹은 색인을 매기는 용도로 사용한다.    

• 튜플(tuple) unpacking   
• 다른 객체를 튜플로 만들어 준다 – tuple( )    
• count(value) : 튜플에서 일치하는 값의 수를 반환   
• index(value) : 튜플에서 일치하는 값의 인덱스 번호를 반환   
• 인덱싱, 슬라이싱, 더하기, 곱하기, swap 코드   
swap => a, b = b, a    


• 비어 있는 튜플을 만드는 경우, 소괄호()를 사용하거나 tuple() 함수를 사용

In [213]:
t = (1,2, 3)   #튜플 객체 생성
print(type(t))

<class 'tuple'>

In [214]:
t2 = 5,
print(type(t2))

<class 'tuple'>

In [ ]:
colors = {'yellow': '노랑', 'red': '빨강'}

In [215]:
empty = ( )
type (empty)
len(empty)

0

In [222]:
singleton = '안녕하세요',
type(singleton)  #tuple 콤마가 있어서ingleton = '안녕하세요',
type(singleton)  #tuple 콤마가 있어서
len(singleton)  #1

len(singleton)  #1

1

In [220]:
test = ('안녕하세요')
type(test)  #str 1개라서
len(test)

5

In [229]:
movie = '슈퍼맨II', 1980, '베트맨', 1989       #튜플 생성 packing
a, b, c, d = movie                                 #튜플을 항목당 할당 unpacking
a, b, c, d

('슈퍼맨II', 1980, '베트맨', 1989)

In [244]:
#lab10 : 로또 번호 추첨처럼 1~45의 숫자 중에서 중복 없이 6개를 뽑아서 리스트 저장하고
#튜플로 변환해서 출력하는 프로그램을 구현하시오
import random


lotto = []
num = 0

while True:
  num = random.randrange(1, 46)
  if lotto.count(num) == 0:
    lotto.append(num)
  if len(lotto) >= 6:
    break

lotto.sort()
r_lotto = tuple(lotto)
for n in r_lotto:
    print('%d' %n, end=' ')
    i += 1

3 14 32 36 37 38

In [245]:
 import random
tup =[]
for i in range(1,15):
    num= random.randint(1,45)
    if i in tup:
        pass
    else:
        tup.append(num)
    if len(tup)==6:
        break
tup.sort()
tup= tuple(tup)
print(tup)

(2, 12, 17, 17, 42, 44)

In [248]:
import random
nums = []
while len(nums) < 6:
    num = random.randrange(1,46)
    if not nums.count(num):
        nums.append(num)
t_nums = tuple(sorted(nums))
print(t_nums)

(3, 19, 25, 38, 42, 44)

In [281]:
#lab11 : 한 학생의 국어, 수학 점수를 튜플로 저장하고 이 튜플을 항목으로 갖는 리스트 객체가 있습니다.
#이 때 첫 번째 학생은 (90, 80) 두 번째 학생은 (85, 75), 세 번재 학생은 (90, 100)의 점수를 가짐
#각 학생의 총점과 평균을 출력하시오 (평균은 소수점 둘째 자리까지)
data_list = [(90, 80), (85, 75), (90, 100)]
for i in (data_list):
  total_score = 0
  for s in (i):
    total_score += s
  print('총점=', total_score, '평균=', (total_score/2))

for idx, data in enumerate(data_list):  #enumerate 함수는 꺼낼 때 인덱스까지 같이 꺼내줌
  total = 0
  for s in i:
    total += s
  print('%d. 총점=%3d, 평균=%.2f' % (idx + 1, total, total/2))

총점= 170 평균= 85.0
총점= 160 평균= 80.0
총점= 190 평균= 95.0
1. 총점=190, 평균=95.00
2. 총점=190, 평균=95.00
3. 총점=190, 평균=95.00

In [279]:
#lab12: 리스트 내포 기능을 이용해 다음 문장으로부터 모음('aeiou)을 제거하십시오. 
#Python is powerful... and fast; plays well with other; runs everywhere; is friendly & easy to learn; is Open.'

In [285]:
lst = 'Python is powerful... and fast; plays well with others; runs everywhere; is friendly & easy to learn; is Open.'

search = 'aeiou'
new_str = []
for ch in lst:
  if ch not in search:   #서치에 없는 것은 하나하나 새 리스트에 넣으라는 것
    new_str.append(ch)

print(''.join(new_str))   #조인은 리스트 문자열마다 앞에 내용을 결합시키는데, 앞에가 공백이기에 문자열을 하나의 문자열로 만들어준다

Pythn s pwrfl... nd fst; plys wll wth thrs; rns vrywhr; s frndly & sy t lrn; s Opn.

In [286]:
#lab13: 다음과 같은 리스트가 주어졌을 때 결과처럼 가나다순으로 
#따로 묶은 리스트가 출력되도록 리스트 내포를 이용한 프로그램을 작성하시오
dicBase = (('가','깋'), ('나','닣'), ('다','딯'), ('라','맇'), ('마','밓'), ('바','빟'), ('사','싷'),
               ('아','잏'), ('자','짛'), ('차','칳'), ('카','킿'), ('타','팋'), ('파','핗'), ('하','힣'))
 
inputWord = ['막', '부모님', '비용', '비행기', '원래', '처리', '최초', '꼴', '좀', '들다', '싶다',
                   '수출', '계시다', '다', '뒤', '듣다', '함께', '아이', '무척', '보이다', '가지다', '그',
                   '자르다', '데리다', '마리', '개', '정도', '옳다', '놀이','뜨겁다']

result = []
for base in dicBase:
  temp = []
  for word in inputWord:
    if base[0] <= word <= base[1]:
      temp.append(word)
  result.append(temp)

print(result)

[['계시다', '가지다', '그', '개'], ['놀이'], ['들다', '다', '뒤', '듣다', '데리다'], [], ['막', '무척', '마리'], ['부모님', '비용', '비행기', '보이다'], ['싶다', '수출'], ['원래', '아이', '옳다'], ['좀', '자르다', '정도'], ['처리', '최초'], [], [], [], ['함께']]